<div class="main-content">
  <div class="section-title">
    <p><%= @node.root.title %></p>
    <%= link_to "RSS Feed", "#", :class => "rss" %>
  </div>
  <h1><%= @node.title %></h1>
  <div class="article-body">
    <%= @node.body.html_safe %>
  </div>
  <div class="meta">
    <span class="date"><%= l @node.published_at, :format => :short %></span>
    <span class="cats">
      <% unless  @node.categories.empty? %>
        <% for category in @node.categories %>
          <%= link_to category, node_path(@node, :category => category) %>,
        <% end %>
      <% end %>
    </span>
  </div>
</div>
<div class="supporting-content">
  <%= render :partial => 'article_sidebar' %>
</div>
