<%= fields_for :node do |n| %>
  <%= n.fields_for slot_name, component do |f| %>
    <%= f.hidden_field :_type %>

    <p>
      <%= f.label :title %><br/>
      <span class="input-wrap"><%= f.text_field :title %></span>
    </p>

    <p>
      <%= f.label :article_list_id %><br/>
      <span class="input-wrap"><%= f.collection_select :article_list_id, ArticleList.published.all, :id, :name, :prompt => 'Choose an Article List' %></span>
    </p>

    <p>
      <%= f.label :category %><br/>
      <span class="input-wrap"><%= f.select :category, component.categories, :include_blank => true %></span>
    </p>

  <% end %>
<% end %>
