<!-- FILTER NEWS -->
<div class="component filter">
  <h3 class="sup-title">Find News...</h3>
  <% if @node.all_categories.any? %>
  <div class="filter-wrap category-list">
     <h4>Category</h4>
      <ul id="categories-list">
        <% for category in @node.all_categories %>
          <%= link_for_filter_text(category, @node, category: category) %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<% if authors.any? %>
  <div class="component authors">
  <h3 class="sup-title">Authors</h3>
  <ul id="authors-list">
    <% authors.each do |author| %>
      <%= link_for_filter_text(author.full_name, @node.list, { :author => author.permalink }) %>
    <% end %>
  </ul>
  </div>
<% end %>

<!-- RELATED ARTICLES -->

<% if @node.is_a?(Article) %>
  <div class="component related-articles">
    <%= related_articles %>
  </div>
<% end %>

<!-- RECENT ARTICLES -->
<div class="component latest-articles">
  <h3 class="sup-title">Recent Articles</h3>
  <ul id="latest-article-list">
  <% @node.recent_articles(categories: params[:category], sectors: params[:sector], regions: params[:region]).each do |article| %>
    <li class="<%= cycle("first", "second", "third") %>">
      <%= link_to article.title, node_path(article), :class => "latest-link" %>
      <time datetime="<%= article.published_at %>" pubdate><%= l article.published_at, :format => :short %></time>
    </li>
  <% end %>
  </ul>
</div>

<!-- ARCHIVE -->
<div class="component archive">
  <h3 class="sup-title">Archive</h3>
  <ul id="archive-list">
    <% @node.archive(categories: params[:category], creator_id: ( author.id if author )).each do |year| %>
      <li>
        <%= link_for_year_filter(@node, year) %>
        <% if (params[:year] || Time.now.year).to_i == year.year %>
          <ul>
            <% year.months.each_with_index do |count, month| %>
              <%= link_for_month_filter(@node, year, month, count) %>
            <% end -%>
          </ul>
        <% end -%>
      </li>
    <% end -%>
  </ul>
</div>
